<div id="mainNav" class="nav w3-bar w3-right-align __py-1">
  <a href="#" class="w3-bar-item w3-button __ml-2 __py-1 __px-1 w3-white" style="border:2px solid #333;"><b>>_</b> Ken Teaches Tech</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right">Support</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right">Account</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right">Courses</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right">Dashboard</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="showMobileNav()">&#9776;</a>
</div>

<div id="mobileNav" class="nav w3-bar-block w3-hide w3-hide-large w3-hide-medium">
  <a href="#" class="w3-bar-item w3-button">Dashboard</a>
  <a href="#" class="w3-bar-item w3-button">Courses</a>
  <a href="#" class="w3-bar-item w3-button">Account</a>
  <a href="#" class="w3-bar-item w3-button">Support</a>
</div>

<div id="screen"></div>