
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-white" id="navbar">
      <a href="#home" class="w3-bar-item w3-button w3-wide" id="logo">Ken Teaches Tech</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#courses" class="w3-bar-item w3-button">Courses</a>                
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
        onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
    style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>    
    <a href="#courses" onclick="w3_close()" class="w3-bar-item w3-button">Classes</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">Contact</a>
  </nav>
  <div class="w3-container">
    <section id="about">
  
      <div class="w3-row w3-center">
        <h2>Is Your Child Interested In<br><strong class="w3-text-blue">Programming, Website Design, Video Game Development, 3D
            Printing,
            Electronics or Robotics?</strong></h2>
        <p class="lead">I provide asyncronous private lessons that allow your child to learn at their own pace
          and on a schedule that fits your family.</p>
        <p><b>Asyncronous does not mean alone!</b> Help is only a click away. I am there to
          guide the student, answer questions, provide feedback, grade projects and make sure they get the most out of
          each lesson. As the parent, you get access to a dashboard to view your childs progress.</span>
        </p>
      </div>
      <hr class="__my-10">
      <div class="w3-row">
        <h2 class="w3-center">About Me</h2>
        <div class="w3-col m4 l3 w3-center">
          <img src="https://s3.amazonaws.com/ikickboxer.com/files/ken.bw.400.jpg" id="headshot" alt="#">
        </div>
        <div class="w3-col m8 l9"><a name="about"></a>
          <p>I have a background in electronics and software development, and have spent the 20+ years building everything from websites to robots. Mobile apps to video games. Smart-devices to
            machine
            learning systems.</p>
          <p>As homeschooling family, the past ten years has been spent with my wife (who is a state certified teacher)
            working
            together to educate our three children.</p>
          <p>I now focus on developing fun and engaging technology
            coursework for children ages 10 to 18.</p>
          <p>When not in front of my laptop, my favorite thing to do is spend time with my family.</p>

        </div>
      </div>
    </section>
    <hr>
    <section>
      <h2 class="w3-center">Courses I Teach</h2>
      
      <p><b>Open Classes</b></p>
      <p>I am currently running two open online classes at Open Tent Academy</p>
      <ul>
        <li>Introduction To Programming</li>
        <li>Web Design for Beginners</li>
      </ul>     
      <p><b>Private Lessons</b></p>
      <p>If you are interested in private lessons on the topics of Programming, Website Design, Video Game Development, 3D Printing, Electronics or Robotics please email me at <a href="mailto:ken@kenteachestech.com">ken@kenteachestech.com</a>.</p>
      <a name="courses"></a>
    </section>

    <hr>

    <section>
      <h2 class="w3-center">Get In Touch</h2>
      <p class="w3-center">If you have any questions please email me at <a href="mailto:ken@kenteachestech.com">ken@kenteachestech.com</a>. <a name="contact"></a></p>     
    </section>
  </div>





  <script>
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
    }
  </script>